USER_NAME=a
NGINX_PORT=80
MYSQL_ROOT_PASSWORD=root
GIT_USER_NAME=federico1818
GIT_USER_EMAIL=federico1818@gmail.com
VOLUME_DATABASE=/home/a/databases
VOLUME_WORKSPACE=/home/a/workspace
VOLUME_NGINX_CONFIG=./sites-enabled
VOLUME_PHP_INI=./php-config/custom.ini
VOLUME_REDIS_CONFIG=./redis-config/redis.conf